ALIO_API_URL=
ALIO_API_KEY=
ALIO_API_KEY_PARAM=serviceKey
ALIO_DEFAULT_PARAMS={"pageNo":"1","numOfRows":"100","type":"json"}
ALIO_PUBLIC_URL=https://opendata.alio.go.kr/new/odaApiMng/recrutInquiryAjaxList.do
ALIO_PUBLIC_DEFAULT_PARAMS={"pageNo":"1","numOfRows":"100","ncsCdLst":"R600014,R600015,R600016,R600017,R600019,R600023,R600025","ongoingYn":"Y"}
WORKNET_API_URL=https://www.work24.go.kr/cm/openApi/call/wk/callOpenApiSvcInfo210L01.do
WORKNET_API_KEY=
WORKNET_ENABLED=0
WORKNET_KEYWORDS=기계,기계직,기계설비,설비,설비보전,보전,정비,유지보수,공무,생산기술,공정기술,설비기술,제조기술,품질,품질관리,플랜트,자동차,모빌리티,반도체,방산,철도차량,발전설비,유틸리티,공조,냉동,보일러,에너지,안전관리
WORKNET_OCCUPATIONS=
COMPANY_TARGETS_PATH=config/company_targets.json
MECH_JOB_RADAR_DB=data/job_radar.sqlite3
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
BRAVE_SEARCH_API_KEY=
